<div class="col-md-10 offset-md-1 mt-5">
<div class="row">
  <div class="col-md-4 mb-4">
    <%= show_book_image(@book) %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <ul>
      <li><b><%= t '.price' %>: </b><%= t(".price_yen", price: (number_with_delimiter @book.price)) %></li>
      <li><b><%= t '.publish_date' %>: </b><%= @book.publish_date %></li>
    </ul>
  </div>
</div>
  <hr>
  <h4><%= t '.description' %></h4>
  <%= simple_format @book.description %>
<%= link_to t('.edit'), edit_book_path(@book), class: "btn btn-primary" %>
<%= link_to t('.return'), books_path, class: "btn btn-secondary" %>
</div>